<?xml version='1.0' encoding='utf-8'?>
<robot name="aris_final_rig_env">
  <link name="world" />
  <link name="paper">
    <visual>
      <origin xyz="0.9017 0.85 -0.001" />
      <geometry>
        <box size="1.8034 1.7 0.002" />
      </geometry>
      <material name="paper_mat">
        <color rgba="0.98 0.97 0.94 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.9017 0.85 -0.001" />
      <geometry>
        <box size="1.8034 1.7 0.002" />
      </geometry>
    </collision>
  </link>
  <joint name="paper_weld" type="fixed">
    <parent link="world" />
    <child link="paper" />
  </joint>
  <link name="frame_table_block">
    <visual>
      <origin xyz="0.87974 0.77392 -0.31934" />
      <geometry>
        <box size="2.1924 2.0908 0.63468" />
      </geometry>
      <material name="frame_table_block_mat">
        <color rgba="0.55 0.55 0.55 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.87974 0.77392 -0.31934" />
      <geometry>
        <box size="2.1924 2.0908 0.63468" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_table_block_weld" type="fixed">
    <parent link="world" />
    <child link="frame_table_block" />
  </joint>
  <link name="frame_post_FL">
    <visual>
      <origin xyz="-0.17436 -0.22938 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
      <material name="frame_post_FL_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.17436 -0.22938 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_post_FL_weld" type="fixed">
    <parent link="world" />
    <child link="frame_post_FL" />
  </joint>
  <link name="frame_post_FR">
    <visual>
      <origin xyz="1.93384 -0.22938 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
      <material name="frame_post_FR_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.93384 -0.22938 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_post_FR_weld" type="fixed">
    <parent link="world" />
    <child link="frame_post_FR" />
  </joint>
  <link name="frame_post_BL">
    <visual>
      <origin xyz="-0.17436 1.77722 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
      <material name="frame_post_BL_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.17436 1.77722 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_post_BL_weld" type="fixed">
    <parent link="world" />
    <child link="frame_post_BL" />
  </joint>
  <link name="frame_post_BR">
    <visual>
      <origin xyz="1.93384 1.77722 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
      <material name="frame_post_BR_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.93384 1.77722 0.83622" />
      <geometry>
        <box size="0.0762 0.0762 1.7272" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_post_BR_weld" type="fixed">
    <parent link="world" />
    <child link="frame_post_BR" />
  </joint>
  <link name="frame_top_slab">
    <visual>
      <origin xyz="0.88004 0.77392 1.66172" />
      <geometry>
        <box size="2.185 2.0828 0.0762" />
      </geometry>
      <material name="frame_top_slab_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.88004 0.77392 1.66172" />
      <geometry>
        <box size="2.185 2.0828 0.0762" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_top_slab_weld" type="fixed">
    <parent link="world" />
    <child link="frame_top_slab" />
  </joint>
  <link name="frame_brace_FL">
    <visual>
      <origin xyz="-0.07276 -0.12778 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
      <material name="frame_brace_FL_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.07276 -0.12778 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_brace_FL_weld" type="fixed">
    <parent link="world" />
    <child link="frame_brace_FL" />
  </joint>
  <link name="frame_brace_FR">
    <visual>
      <origin xyz="1.83224 -0.12778 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
      <material name="frame_brace_FR_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.83224 -0.12778 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_brace_FR_weld" type="fixed">
    <parent link="world" />
    <child link="frame_brace_FR" />
  </joint>
  <link name="frame_brace_BL">
    <visual>
      <origin xyz="-0.07276 1.67562 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
      <material name="frame_brace_BL_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.07276 1.67562 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_brace_BL_weld" type="fixed">
    <parent link="world" />
    <child link="frame_brace_BL" />
  </joint>
  <link name="frame_brace_BR">
    <visual>
      <origin xyz="1.83224 1.67562 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
      <material name="frame_brace_BR_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.83224 1.67562 1.52202" />
      <geometry>
        <box size="0.2794 0.2794 0.2032" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_brace_BR_weld" type="fixed">
    <parent link="world" />
    <child link="frame_brace_BR" />
  </joint>
  <link name="frame_down_boom_W">
    <visual>
      <origin xyz="0.06094 1.25702 1.25547" />
      <geometry>
        <box size="0.0772 0.1524 0.7369" />
      </geometry>
      <material name="frame_down_boom_W_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.06094 1.25702 1.25547" />
      <geometry>
        <box size="0.0772 0.1524 0.7369" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_down_boom_W_weld" type="fixed">
    <parent link="world" />
    <child link="frame_down_boom_W" />
  </joint>
  <link name="frame_down_boom_E">
    <visual>
      <origin xyz="0.37854 1.25702 1.25547" />
      <geometry>
        <box size="0.077 0.1524 0.7369" />
      </geometry>
      <material name="frame_down_boom_E_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.37854 1.25702 1.25547" />
      <geometry>
        <box size="0.077 0.1524 0.7369" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_down_boom_E_weld" type="fixed">
    <parent link="world" />
    <child link="frame_down_boom_E" />
  </joint>
  <link name="frame_down_gusset_W">
    <visual>
      <origin xyz="-0.07886 1.25702 1.52217" />
      <geometry>
        <box size="0.204 0.1524 0.2035" />
      </geometry>
      <material name="frame_down_gusset_W_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.07886 1.25702 1.52217" />
      <geometry>
        <box size="0.204 0.1524 0.2035" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_down_gusset_W_weld" type="fixed">
    <parent link="world" />
    <child link="frame_down_gusset_W" />
  </joint>
  <link name="frame_down_gusset_E">
    <visual>
      <origin xyz="0.51804 1.25702 1.52217" />
      <geometry>
        <box size="0.2044 0.1524 0.2035" />
      </geometry>
      <material name="frame_down_gusset_E_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.51804 1.25702 1.52217" />
      <geometry>
        <box size="0.2044 0.1524 0.2035" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_down_gusset_E_weld" type="fixed">
    <parent link="world" />
    <child link="frame_down_gusset_E" />
  </joint>
  <link name="frame_down_clamps">
    <visual>
      <origin xyz="0.21984 1.25702 0.98257" />
      <geometry>
        <box size="0.226 0.1524 0.0957" />
      </geometry>
      <material name="frame_down_clamps_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.21984 1.25702 0.98257" />
      <geometry>
        <box size="0.226 0.1524 0.0957" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_down_clamps_weld" type="fixed">
    <parent link="world" />
    <child link="frame_down_clamps" />
  </joint>
  <link name="frame_down_plate">
    <visual>
      <origin xyz="0.21976 1.25678 0.92835" />
      <geometry>
        <box size="0.22582 0.19 0.0127" />
      </geometry>
      <material name="frame_down_plate_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.21976 1.25678 0.92835" />
      <geometry>
        <box size="0.22582 0.19 0.0127" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_down_plate_weld" type="fixed">
    <parent link="world" />
    <child link="frame_down_plate" />
  </joint>
  <link name="frame_side_boom">
    <visual>
      <origin xyz="1.69869 1.25702 1.25552" />
      <geometry>
        <box size="0.0767 0.1524 0.737" />
      </geometry>
      <material name="frame_side_boom_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.69869 1.25702 1.25552" />
      <geometry>
        <box size="0.0767 0.1524 0.737" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_side_boom_weld" type="fixed">
    <parent link="world" />
    <child link="frame_side_boom" />
  </joint>
  <link name="frame_side_gusset">
    <visual>
      <origin xyz="1.83874 1.25702 1.52217" />
      <geometry>
        <box size="0.204 0.1524 0.2035" />
      </geometry>
      <material name="frame_side_gusset_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.83874 1.25702 1.52217" />
      <geometry>
        <box size="0.204 0.1524 0.2035" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_side_gusset_weld" type="fixed">
    <parent link="world" />
    <child link="frame_side_gusset" />
  </joint>
  <link name="frame_side_clamps">
    <visual>
      <origin xyz="1.64159 1.25722 0.80112" />
      <geometry>
        <box size="0.0381 0.152 0.2258" />
      </geometry>
      <material name="frame_side_clamps_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.64159 1.25722 0.80112" />
      <geometry>
        <box size="0.0381 0.152 0.2258" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_side_clamps_weld" type="fixed">
    <parent link="world" />
    <child link="frame_side_clamps" />
  </joint>
  <link name="frame_side_bracket">
    <visual>
      <origin xyz="1.63384 1.25722 0.94282" />
      <geometry>
        <box size="0.054 0.152 0.0576" />
      </geometry>
      <material name="frame_side_bracket_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.63384 1.25722 0.94282" />
      <geometry>
        <box size="0.054 0.152 0.0576" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_side_bracket_weld" type="fixed">
    <parent link="world" />
    <child link="frame_side_bracket" />
  </joint>
  <link name="frame_side_plate">
    <visual>
      <origin xyz="1.61619 1.25723 0.80109" />
      <geometry>
        <box size="0.0127 0.19 0.22582" />
      </geometry>
      <material name="frame_side_plate_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.61619 1.25723 0.80109" />
      <geometry>
        <box size="0.0127 0.19 0.22582" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_side_plate_weld" type="fixed">
    <parent link="world" />
    <child link="frame_side_plate" />
  </joint>
  <link name="frame_up_plate">
    <visual>
      <origin xyz="0.88043 -0.1518 0.00435" />
      <geometry>
        <box size="0.19 0.226 0.0127" />
      </geometry>
      <material name="frame_up_plate_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.88043 -0.1518 0.00435" />
      <geometry>
        <box size="0.19 0.226 0.0127" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_up_plate_weld" type="fixed">
    <parent link="world" />
    <child link="frame_up_plate" />
  </joint>
  <link name="frame_feed_roll">
    <visual>
      <origin xyz="-0.10646 0.85002 0.09132" />
      <geometry>
        <box size="0.215 1.765 0.206" />
      </geometry>
      <material name="frame_feed_roll_mat">
        <color rgba="0.55 0.55 0.55 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.10646 0.85002 0.09132" />
      <geometry>
        <box size="0.215 1.765 0.206" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_feed_roll_weld" type="fixed">
    <parent link="world" />
    <child link="frame_feed_roll" />
  </joint>
  <link name="frame_guide_rods">
    <visual>
      <origin xyz="1.91704 0.84002 0.01707" />
      <geometry>
        <box size="0.053 1.739 0.0395" />
      </geometry>
      <material name="frame_guide_rods_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.91704 0.84002 0.01707" />
      <geometry>
        <box size="0.053 1.739 0.0395" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_guide_rods_weld" type="fixed">
    <parent link="world" />
    <child link="frame_guide_rods" />
  </joint>
  <link name="frame_winder_box">
    <visual>
      <origin xyz="1.91824 1.72362 0.02302" />
      <geometry>
        <box size="0.07 0.03 0.05" />
      </geometry>
      <material name="frame_winder_box_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.91824 1.72362 0.02302" />
      <geometry>
        <box size="0.07 0.03 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_winder_box_weld" type="fixed">
    <parent link="world" />
    <child link="frame_winder_box" />
  </joint>
  <link name="frame_crank_motor">
    <visual>
      <origin xyz="1.91634 -0.10148 0.03737" />
      <geometry>
        <box size="0.07 0.1444 0.0787" />
      </geometry>
      <material name="frame_crank_motor_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.91634 -0.10148 0.03737" />
      <geometry>
        <box size="0.07 0.1444 0.0787" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_crank_motor_weld" type="fixed">
    <parent link="world" />
    <child link="frame_crank_motor" />
  </joint>
  <link name="frame_paper_curl">
    <visual>
      <origin xyz="1.86504 0.85002 0.01232" />
      <geometry>
        <box size="0.125 1.701 0.03" />
      </geometry>
      <material name="frame_paper_curl_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.86504 0.85002 0.01232" />
      <geometry>
        <box size="0.125 1.701 0.03" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_paper_curl_weld" type="fixed">
    <parent link="world" />
    <child link="frame_paper_curl" />
  </joint>
  <link name="frame_device_F1">
    <visual>
      <origin xyz="0.51854 -0.20398 1.58022" />
      <geometry>
        <box size="0.242 0.147 0.0978" />
      </geometry>
      <material name="frame_device_F1_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.51854 -0.20398 1.58022" />
      <geometry>
        <box size="0.242 0.147 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_F1_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_F1" />
  </joint>
  <link name="frame_device_F2">
    <visual>
      <origin xyz="1.24254 -0.20398 1.58022" />
      <geometry>
        <box size="0.242 0.147 0.0978" />
      </geometry>
      <material name="frame_device_F2_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.24254 -0.20398 1.58022" />
      <geometry>
        <box size="0.242 0.147 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_F2_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_F2" />
  </joint>
  <link name="frame_device_B1">
    <visual>
      <origin xyz="0.51854 1.75142 1.58022" />
      <geometry>
        <box size="0.242 0.1478 0.0978" />
      </geometry>
      <material name="frame_device_B1_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.51854 1.75142 1.58022" />
      <geometry>
        <box size="0.242 0.1478 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_B1_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_B1" />
  </joint>
  <link name="frame_device_B2">
    <visual>
      <origin xyz="1.24254 1.75142 1.58022" />
      <geometry>
        <box size="0.242 0.1478 0.0978" />
      </geometry>
      <material name="frame_device_B2_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.24254 1.75142 1.58022" />
      <geometry>
        <box size="0.242 0.1478 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_B2_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_B2" />
  </joint>
  <link name="frame_device_L1">
    <visual>
      <origin xyz="-0.14896 0.13252 1.58022" />
      <geometry>
        <box size="0.147 0.242 0.0978" />
      </geometry>
      <material name="frame_device_L1_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.14896 0.13252 1.58022" />
      <geometry>
        <box size="0.147 0.242 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_L1_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_L1" />
  </joint>
  <link name="frame_device_L2">
    <visual>
      <origin xyz="-0.14896 0.85652 1.58022" />
      <geometry>
        <box size="0.147 0.242 0.0978" />
      </geometry>
      <material name="frame_device_L2_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.14896 0.85652 1.58022" />
      <geometry>
        <box size="0.147 0.242 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_L2_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_L2" />
  </joint>
  <link name="frame_device_R1">
    <visual>
      <origin xyz="1.90854 0.13252 1.58022" />
      <geometry>
        <box size="0.148 0.242 0.0978" />
      </geometry>
      <material name="frame_device_R1_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.90854 0.13252 1.58022" />
      <geometry>
        <box size="0.148 0.242 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_R1_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_R1" />
  </joint>
  <link name="frame_device_R2">
    <visual>
      <origin xyz="1.90854 0.85652 1.58022" />
      <geometry>
        <box size="0.148 0.242 0.0978" />
      </geometry>
      <material name="frame_device_R2_mat">
        <color rgba="0.35 0.37 0.4 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.90854 0.85652 1.58022" />
      <geometry>
        <box size="0.148 0.242 0.0978" />
      </geometry>
    </collision>
  </link>
  <joint name="frame_device_R2_weld" type="fixed">
    <parent link="world" />
    <child link="frame_device_R2" />
  </joint>
</robot>