<?xml version='1.0' encoding='utf-8'?>
<robot name="aris_proposed_rig_env">
  <link name="world" />
  <link name="paper">
    <visual>
      <origin xyz="0.9017 1.81532 -0.001" />
      <geometry>
        <box size="1.8034 3.63064 0.002" />
      </geometry>
      <material name="paper_mat">
        <color rgba="0.98 0.97 0.94 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.9017 1.81532 -0.001" />
      <geometry>
        <box size="1.8034 3.63064 0.002" />
      </geometry>
    </collision>
  </link>
  <joint name="paper_weld" type="fixed">
    <parent link="world" />
    <child link="paper" />
  </joint>
  <link name="mount13_plate">
    <visual>
      <origin xyz="0.5967 0.605106667 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
      <material name="mount13_plate_mat">
        <color rgba="0.33 0.33 0.35 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5967 0.605106667 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="mount13_plate_weld" type="fixed">
    <parent link="world" />
    <child link="mount13_plate" />
  </joint>
  <link name="mount13_boom">
    <visual>
      <origin xyz="0.5967 0.605106667 1.68" />
      <geometry>
        <cylinder radius="0.1" length="1.32" />
      </geometry>
      <material name="mount13_boom_mat">
        <color rgba="0.45 0.46 0.48 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5967 0.605106667 1.68" />
      <geometry>
        <box size="0.2 0.2 1.32" />
      </geometry>
    </collision>
  </link>
  <joint name="mount13_boom_weld" type="fixed">
    <parent link="world" />
    <child link="mount13_boom" />
  </joint>
  <link name="mount17_plate">
    <visual>
      <origin xyz="1.2067 0.605106667 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
      <material name="mount17_plate_mat">
        <color rgba="0.33 0.33 0.35 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.2067 0.605106667 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="mount17_plate_weld" type="fixed">
    <parent link="world" />
    <child link="mount17_plate" />
  </joint>
  <link name="mount17_boom">
    <visual>
      <origin xyz="1.2067 0.605106667 1.68" />
      <geometry>
        <cylinder radius="0.1" length="1.32" />
      </geometry>
      <material name="mount17_boom_mat">
        <color rgba="0.45 0.46 0.48 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.2067 0.605106667 1.68" />
      <geometry>
        <box size="0.2 0.2 1.32" />
      </geometry>
    </collision>
  </link>
  <joint name="mount17_boom_weld" type="fixed">
    <parent link="world" />
    <child link="mount17_boom" />
  </joint>
  <link name="mount31_plate">
    <visual>
      <origin xyz="0.5967 1.81532 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
      <material name="mount31_plate_mat">
        <color rgba="0.33 0.33 0.35 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5967 1.81532 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="mount31_plate_weld" type="fixed">
    <parent link="world" />
    <child link="mount31_plate" />
  </joint>
  <link name="mount31_boom">
    <visual>
      <origin xyz="0.5967 1.81532 1.68" />
      <geometry>
        <cylinder radius="0.1" length="1.32" />
      </geometry>
      <material name="mount31_boom_mat">
        <color rgba="0.45 0.46 0.48 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5967 1.81532 1.68" />
      <geometry>
        <box size="0.2 0.2 1.32" />
      </geometry>
    </collision>
  </link>
  <joint name="mount31_boom_weld" type="fixed">
    <parent link="world" />
    <child link="mount31_boom" />
  </joint>
  <link name="mount71_plate">
    <visual>
      <origin xyz="1.2067 1.81532 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
      <material name="mount71_plate_mat">
        <color rgba="0.33 0.33 0.35 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.2067 1.81532 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="mount71_plate_weld" type="fixed">
    <parent link="world" />
    <child link="mount71_plate" />
  </joint>
  <link name="mount71_boom">
    <visual>
      <origin xyz="1.2067 1.81532 1.68" />
      <geometry>
        <cylinder radius="0.1" length="1.32" />
      </geometry>
      <material name="mount71_boom_mat">
        <color rgba="0.45 0.46 0.48 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.2067 1.81532 1.68" />
      <geometry>
        <box size="0.2 0.2 1.32" />
      </geometry>
    </collision>
  </link>
  <joint name="mount71_boom_weld" type="fixed">
    <parent link="world" />
    <child link="mount71_boom" />
  </joint>
  <link name="mount2_plate">
    <visual>
      <origin xyz="0.5967 3.025533333 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
      <material name="mount2_plate_mat">
        <color rgba="0.33 0.33 0.35 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5967 3.025533333 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="mount2_plate_weld" type="fixed">
    <parent link="world" />
    <child link="mount2_plate" />
  </joint>
  <link name="mount2_boom">
    <visual>
      <origin xyz="0.5967 3.025533333 1.68" />
      <geometry>
        <cylinder radius="0.1" length="1.32" />
      </geometry>
      <material name="mount2_boom_mat">
        <color rgba="0.45 0.46 0.48 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.5967 3.025533333 1.68" />
      <geometry>
        <box size="0.2 0.2 1.32" />
      </geometry>
    </collision>
  </link>
  <joint name="mount2_boom_weld" type="fixed">
    <parent link="world" />
    <child link="mount2_boom" />
  </joint>
  <link name="mount97_plate">
    <visual>
      <origin xyz="1.2067 3.025533333 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
      <material name="mount97_plate_mat">
        <color rgba="0.33 0.33 0.35 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.2067 3.025533333 0.995" />
      <geometry>
        <box size="0.226 0.19 0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="mount97_plate_weld" type="fixed">
    <parent link="world" />
    <child link="mount97_plate" />
  </joint>
  <link name="mount97_boom">
    <visual>
      <origin xyz="1.2067 3.025533333 1.68" />
      <geometry>
        <cylinder radius="0.1" length="1.32" />
      </geometry>
      <material name="mount97_boom_mat">
        <color rgba="0.45 0.46 0.48 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.2067 3.025533333 1.68" />
      <geometry>
        <box size="0.2 0.2 1.32" />
      </geometry>
    </collision>
  </link>
  <joint name="mount97_boom_weld" type="fixed">
    <parent link="world" />
    <child link="mount97_boom" />
  </joint>
  <link name="ceiling_grid_ref">
    <visual>
      <origin xyz="0.9017 1.81532 2.355" />
      <geometry>
        <box size="2.5034 4.33064 0.03" />
      </geometry>
      <material name="ceiling_grid_ref_mat">
        <color rgba="0.72 0.71 0.67 0.25" />
      </material>
    </visual>
  </link>
  <joint name="ceiling_grid_ref_weld" type="fixed">
    <parent link="world" />
    <child link="ceiling_grid_ref" />
  </joint>
</robot>